.nav{
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  margin-left: 40px;
  border-bottom: 1px solid #F9F9F9;
}

.nav h1{
  color: skyblue;
}

.map .data{
  margin-left: 40px;
  display: flex;
}

.map .data h5{
  font-weight: 400;
  font-size: 1.5rem;
}

.location ul{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.location ul button{
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #111;
  font-size: 1.1rem;
  margin: 10px;
}

.location ul button:hover{
  color: skyblue;
}

.raw{
  margin-top: 40px;
}

.raw ul li{
  display: flex;
  align-items: center;
  border: 1px solid #F9F9F9;
  padding: 5px;
  font-size: 16px;
  line-height: 2px;
}

.raw ul li p{
  margin-left: 20px;
}